<footer class="page-footer pink darken-2">
  <div class="container">
    <div class="row">
      <div class="col s9">
        <h5 class="white-text"><b>kun-tegar</b>.github.io</h5>
        <blockquote>
          <p class="white-text">{{ site.description }}</p>
        </blockquote>
      </div>
      <div class="col s3 ">
        <h5 class="white-text">
          <b>Contact</b> Me
        </h5>
        <ul class="grey-text text-lighten-3">
          <i class="fa fa-envelope"></i>
          <a class="grey-text text-lighten-3" href="mailto:tegar.fuuu@gmail.com"><b>tegar.fuuu</b>@gmail.com</a></li>
          <li>
            <i class="fa fa-rss-square"></i>
            <a class="grey-text text-lighten-3" href="/feed.xml"><b>subscribe</b> via RSS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright pink darken-4">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          Build with 
          <i class="fa fa-coffee"></i>
          <b>Powered</b> By
          <a href="https://github.com" target="_blank">            
          <i class="fa fa-github">Github</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>