<!DOCTYPE html>
<html>
  {% include head.html %}
  	<body class="grey lighten-4">
	{% include header.html %}
		{{ content }}					
	{% include footer.html %}
	
		<script type="text/javascript" src="{{ "/js/jquery.js"| prepend: site.baseurl }}"></script>
		<script type="text/javascript" src="{{ "/js/materialize.js"| prepend: site.baseurl }}"></script>
		<script type="text/javascript">
		$(function() {
			$(".button-collapse").sideNav();
        	$('.parallax').parallax();			
		});
		</script>
  </body>
</html>
