---
layout: default
---
<header>
	<div class="row">
		<h3 class="grey-text text-darken-3 center-align"><b>{{ page.title }}</b></h3>
			<p class="center-align">
				<i class="fa fa-calendar"></i>
				{{ page.date | date: "%-d %B <b>[%H:%M]</b>" }} 
			</p>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="col s9">
			<div class="card-panel">
				{{ content }}
			</div>
		</div>
		<div class="col s3">
			<div class="card-panel">
				Archive
			</div>
		</div>
	</div>
<br><br>
